/2ºBimestre/ExemploPesquisaLinear/nbproject/private/
/2ºBimestre/ExemploPesquisaLinear/build/
/2ºBimestre/exercicioProva2/nbproject/private/
/2ºBimestre/exercicioProva2/build/
/2ºBimestre/ExemploFila/nbproject/private/
/2ºBimestre/ExemploFila/build/
